<h2 class="dev-promotion-title" style="text-align: {{ section.settings.text_alignment }};">{{ section.settings.title }}</h2>

<h2>Seasonal Promotion</h2>
{% for block in section.blocks %}
  {% if block.type == 'promotion' %}
    <h3>{{ block.settings.title }}</h3>
    {{ block.settings.image | image_url: width: 200 | image_tag }}
  {% endif %}
{% endfor %}
  
{% schema %}
  {
    "name": "Dev Promotion",
    "tag": "section",
    "class": "dev-promotion-section",
    "disabled_on": {
    "groups": ["header", "footer"]},
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Seasonal Promotion",
        "info": "Promotion text to display",
        "placeholder": "Title of the promotion"
      },
      {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "options": [
          {
          "value": "left",
          "label": "Left"
          },
          {
          "value": "center",
          "label": "Center"
          },
          {
          "value": "right",
          "label": "Right"
          }
        ],
        "default": "left",
      },
    ],
    "blocks": [
      {
        "type": "promotion",
        "name": "Promotion",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
        ]
      },
    ],
    "presets": [
      {
        "name": "Dev Promotion",
        "category": "Custom"
      }
    ],
  }
{% endschema %}
